<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title> Alem Make Up Store - Usuarios</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	</head>
	<body>
	<style>
		.x{
			width: 90%;
			background-color: #b7b7a4;
			}
		.barra{
			width:100%;
			display: flex;
			justify-content:end;
			align-items:center;
		}
		.menu{
			justify-content:center;
			align-items:center;
		}
		.active{
			display: block;
			transition: all 0.4s linear;
			border-radius: 5px;
			
		}
		li{
			margin: auto 5vh !important;
		}
		.cliente{
			width: 90%;
			justify-content:space-around;
			align-items:center;
		}
		.c{
			padding: 1rem!important
		}
		
	</style>
	
	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid" style="background-color: #b7b7a4;">
				<a class="navbar-brand" href="#"> <img
					src="./images/maquillaje.svg" alt="" width="45" height="35">
				</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a th:href="@{/listarUser}"
							class="nav-link active" aria-current="page">
								<button class="btn btn-outline-dark" type="submit"
									style="background-color: #a4ac86;">Usuarios</button>
						</a></li>
						<li class="nav-item"><a th:href="@{/listarCliente}"
							class="nav-link active" aria-current="page" href="#">
								<button class="btn btn-outline-dark" type="submit"
									style="background-color: #ccd5ae;">Clientes</button>
						</a></li>
						<li class="nav-item"><a th:href="@{/listarProveedor}"
							class="nav-link active" aria-current="page" href="#">
								<button class="btn btn-outline-dark" type="submit"
									style="background-color: #ccd5ae;">Proveedores</button>
						</a></li>
						<li class="nav-item"><a th:href="@{/archivoCSV}"
							class="nav-link active" aria-current="page" href="#">
								<button class="btn btn-outline-dark" type="submit"
									style="background-color: #ccd5ae;">Productos</button>
						</a></li>
						<li class="nav-item">
							  <a th:href="@{/reportes}" class="nav-link active" aria-current="page" href="#">
							  	<button class="btn btn-outline-dark" type="submit"
							  	 style="background-color: #ccd5ae;">Reportes</button>
						</a></li>						
						<li><form th:action="@{/logout}" method="post">
						<button class="btn btn-outline-dark" type="submit"
							style="background-color: #a4ac86;">Salir</button>
						</form></li>
					</ul>
				</div>
			</div>					
	</nav>
	<br>
		<div class="container mt-4">
			<div class="col-sm-6">
				<form th:action="@{/saveUser}" th:object=${usuarios} method="post">
					<div class="card">
						<div class="card-header"><h3>Modulo Usuario</h3></div>							
						<div class="card-body">
							<div class="form-group">
								<input th:field="*{id}" type="hidden" class="form-control"/>
							</div>
							<div class="form-group">
								<label>Cedula</label>
								<input th:field="*{cedula_usuario}" type="text" class="form-control"/>
							</div>
							<div class="form-group">
								<label>Nombre</label>
								<input th:field="*{nombre_usuario}" type="text" class="form-control"/>
							</div>
							<div class="form-group">
								<label>Email</label>
								<input th:field="*{email_usuario}" type="text" class="form-control"/>
							</div>
							<div class="form-group">
								<label>Usuario</label>
								<input th:field="*{username}" type="text" class="form-control"/>
							</div>
							<div class="form-group">
								<label>Contraseña</label>
								<input th:field="*{password}" type="password" class="form-control"/>
							</div>
						</div>
						<div class="card-footer">
							<input type="submit" value="Guardar" class="btn btn-success"/>
						</div>
					</div>
				</form>
			</div>
		</div>
</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" 
	integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>		
	</body>
</html>